body {
  margin: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.container {
  background-color: beige;
  margin: 10vh;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;
}

.draggable {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.draggable.dragging {
  opacity: 0.5;
  pointer-events: none; /* Allows elementFromPoint to work correctly */
}
