body {
  margin: 0;
}
.container {
  background-color: beige;
  margin: 10vh;
  padding: 20px;
}

.draggable {
  width: 100px;
  height: 100px;
  margin: 10px auto;
  background-color: lightblue;
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.draggable.dragging {
  opacity: 0.5;
}
