* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  body {
    background-color: white;
  }
  
  .mainbox {
    width: 1006px;
    height: 1200px; /* will be removed / adjusted once page is complete */
    background-color: white;
    border: 3px solid gray;
    margin: 20px;
    text-align: left;
  }

  .eventcontentbox{
    background-color: rgb(90, 161, 204);
    width: 1000px;
    height: 250px;
    display: flex;
    /*flex-direction: column;*/
    padding: 20px;
    justify-content: center;
    border-radius:25px;
    margin-bottom: 20px;
    margin-left: 200px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
  }

  .eventcontentbox:hover{
    box-shadow: 0 0 20px rgb(2, 71, 114);
  }

  .eventpicbox{
    width: 300px;
    height: 200px;
  }

  .eventtxtbox{
    background-color:lightgray;
    width: 500px;
    height: 200px;
    padding-top: 10px;
    padding-left:10px;
  }

  .event_button{
    background-color: rgb(90, 161, 204);
    color: rgb(0,0,0);
    width: 180px;
    height: 60px;
    display:inline-block;
    cursor:pointer;
    text-align:center;
    font-size: 26px;
    margin: 4px 2px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
  }

  .event_button:hover{
    color: rgb(2, 71, 114);
    box-shadow: 0 0 20px rgb(2, 71, 114);
  }



 